body{
    text-align:justify;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    background-color: coral;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
.card{
    background-color: white;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    width: fit-content;
    height: 235px;
}
.container {
    text-align: center;
    padding-bottom: 10px;
}